<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS Tags</title>
</head>
<body>
    <h1>
        <%= title %>
    </h1>
    <p> Current Second:
        <%= seconds %>
    </p>
    <% if (seconds % 2 === 0) {%>
    <ul>
        <% items.forEach((fruit => { %>
            <li> <%= fruit %></li>
        <% })) %>

    </ul>
    <% } else { %>
    <p> No items to display </p>
    <% }; %>

        <p>
            <%- htmlContent %>
        </p>

        <%- include("footer.ejs") %>
</body>
</html>